:root {
    --background-color: #c3d8e4;
    --text-color: #705e46;
    --link-color: #6084a2;
    --title-color: #632d0e;
    --banner-color: #b5a99c;
    --info-color : #08415c;
}


* {
    box-sizing: border-box;
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    caret-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.background {
    background-color: var(--background-color);
}

/* start navbar styling */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b5a99c;
}

.brand-title {
    font-size: 1.7rem;
    margin: .8rem;
    color: var(--title-color);
    text-decoration: none;
}

.brand-title:hover {
    text-decoration: underline;
    text-decoration-color: var(--title-color);
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 1rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--link-color);
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    text-decoration: underline;
    text-decoration-color: var(--link-color);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-aspect-ratio: 9/16) {
    .toggle-button {
        display: flex; top: 2rem; 
        right: 2rem; 
        width: 5rem;
        height: 4rem; 
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: right;
    }
    .navbar-links li a {
        margin: 1rem;
        font-size: 3.5rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .brand-title {
        font-size: 3.5rem;
        margin: 2rem;
    }
}

/* end navbar styling */

/* start homepage styling */

.title {
    font-size: 4rem;
    color: var(--info-color);
    text-align: left;
    margin-top: 2%;
    margin-left: 1%
}

/* end homepage styling */

/* start about styling */

.info {
    width: 100%;
    padding: 2.5%;
    padding-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about {
    padding: 1.5%;
    color: #08415c;
}

.about-title {
    font-size: 1.8rem;
    color: #6084a2;
}

.about-text {
    font-size: 1rem;
}

@media (max-aspect-ratio: 9/16) {
    .info {
        margin-top: 7.5%;
        grid-template-columns: auto;
        row-gap: 3%;
    }
    .about-title {
        font-size: 5rem;
    }
}

/* end about styling */

/* start projects styling */

.projects-container {
    width: 70%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    border-radius: 5px;
    justify-content: center;
}

.github-info {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    font-size: 3.5em;
    color: #08415c;
}

.github-items {
    margin: 2%;
    max-width: 32%;
    margin-right: auto;
    margin-left: auto;
    color: #f39c6b;
}

.display-item {
    padding: 2%;
    margin-bottom: 5%;
    background-color: #08415c;
    border-radius: 4px;
    display: grid;
}

.display-info {
    margin-left: 3%;
}

.display-title {
    font-size: 2rem;
    font-weight: 600;
    color: #e37d42;
}

.diplay-summary {
    font-size: 1.4rem;
    max-width: 80%;
}

.display-links {
    display: flex;
    justify-content: flex-start;
    margin: 3%;
}

.display-demo {
    width: 35%;
    font-size: 1rem;
}

.display-github {
    width: 65%;
    font-size: 1rem;
}

.display-demo a {
    color: rgba(255, 255, 255, 0.9);
}

.display-github a {
    color: rgba(255, 255, 255, 0.9);
}

/* end projects styling */

/* start contact styling */

#contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

#contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #08415c;
    color: #f39c6b;
    border-radius: 0 5px 5px 0;
}

#info-banner {
    font-size: 2rem;
    font-weight: 300;
}

#info-banner a {
    text-decoration: underline;
    color: white;
    font-size: 1.6rem;
}

#alternate-contact {
    display: none;
}

.contact-container {
    display: grid;
    width: 100%;
    justify-content: left;
    padding: 10%;
    color: #08415c;
}

.contact-info {
    font-size: 4rem;
}

.contact-about {
    font-size: 2rem;
    margin-bottom: 3%;
}

.contact-box {
    display: flex;
    background: white;
    border-radius: 5px;
    width: 100%;
    color: slategray;
}

.form-row {
    display: flex;
    margin-bottom: 10px;
}

.input-item {
    flex-basis: 45%;
    margin: 0;
    font-size: 1rem;
}

.submit {
    width: 200%;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.submit:hover {
    background-color: #ddd;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    border-right: 50px solid white;
    caret-color: auto;
}

textarea {
    font-size: 1rem;
    width: 200%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    margin-bottom: 6px;
    display: block;
}

@media (max-aspect-ratio: 9/16) {
    #contact-left {
        flex-basis: 100%;
        min-width: 100%;
    }
    #contact-right {
        display: none;
    }
    #alternate-contact {
        display: block;
        margin-top: 10%;
    }
    #info-banner {
        font-size: 2rem;
        padding: 0;
        font-weight: 300;
        text-shadow: none;
    }
    .input-item {
        font-size: 2.5rem;
    }
    .contact-info {
        margin-bottom: 2%;
    }
    .contact-about {
        margin-bottom: 10%;
    }
    input {
        font-size: 1.7rem;
    }
    textarea {
        font-size: 2.5rem;
    }
}

/* end contact styling */

/* start footer styling */

.center {
    display: flex;
}

#footer {
    margin-top: 10%;
    position: relative;
    width: 100%;
    background-color: #08415c;
    text-align: center;
    border: none;
    bottom: 0;
}

#footing {
    color: #f39c6b;
    font-size: 1.1rem;
    padding: .3rem
}

@media (max-aspect-ratio: 9/16) {
    #footer {
        margin-top: 30%;
    }
    #footing {
        padding: 20px;
        font-size: 2rem;
    }
}

/* end footer styling */